li{
	display: inline-block;
}

.bg_negro{
	background-color: black;
}
.titulo{
	font-size: 50px;
}
a{
	text-decoration: none;
	color: black;
}
button{
	border-radius: 10%;
	border: 1px solid silver;
	margin-top: 3%;
	background-color: black;
}
a:hover{
	background-color: silver;
	color: black;
	border-radius: 10%;
}
.bord-bottom{
	border-bottom: 1px solid silver;
	padding: 5% 0%;
}

.p_coral{
	color: coral;
}
.left{
	width: 50%;
	margin-left: 50%;
}
.comillas{
	font-size: 15px;
}
#boton-coral{
	background-color: coral;
	border: coral;
}
div.col-12>img{
	width: 100%;
}
.menu{
	width: 90px !important;
	height: 30px !important;
	border: none;
}
button.menu:hover{
	background-color: #717171;
}